In [2]:
import pandas as pd
import numpy as np

# Series :

### Series is similar to a list except that here you can specify what the index must be.

In [3]:
# EXAMPLE
data_ = [1,2,3,4]
index_ = ['A','B','C','D']
ser = pd.Series(data=data_,index=index_)
# OR
ser1 = pd.Series(data_,index_)

In [4]:
print(ser)
print(ser1)

A    1
B    2
C    3
D    4
dtype: int64
A    1
B    2
C    3
D    4
dtype: int64

### One can also use dictionary to set the data and index. the keys in dictionary will be used as index and the value will be assigned as data

In [5]:
# EXAMPLE
DICT = {'A':10,'RAM':20,'LAKSH':18,'KARNA':23,'GOKU':40}
ser2 = pd.Series(DICT)
print(ser2)

A        10
RAM      20
LAKSH    18
KARNA    23
GOKU     40
dtype: int64

### When we perform any arithmetic operation over a series object ,the operations is performed on the data present on similar index . if both series doesn't have the same index then a NAN is placed at the data corresponding to that index

In [6]:
# EXAMPLE SIMILAR SERIES
ser_add = ser1 + ser
ser_sub = ser1 - ser
ser_mul = ser1 * ser
ser_div = ser1 / ser
print(ser_add)
print(ser_sub)
print(ser_mul)
print(ser_div)

A    2
B    4
C    6
D    8
dtype: int64
A    0
B    0
C    0
D    0
dtype: int64
A     1
B     4
C     9
D    16
dtype: int64
A    1.0
B    1.0
C    1.0
D    1.0
dtype: float64

In [7]:
# EXAMPLE DIFFERENT SERIES
ser_add_1 = ser1 + ser2
ser_sub_1 = ser1 - ser2
ser_mul_1 = ser1 * ser2
ser_div_1 = ser1 / ser2
print(ser_add_1)
print(ser_sub_1)
print(ser_mul_1)
print(ser_div_1)

#Since both seires 1 and 2 has only index 'A' as common, only those data in that index is performed with the operation

A        11.0
B         NaN
C         NaN
D         NaN
GOKU      NaN
KARNA     NaN
LAKSH     NaN
RAM       NaN
dtype: float64
A       -9.0
B        NaN
C        NaN
D        NaN
GOKU     NaN
KARNA    NaN
LAKSH    NaN
RAM      NaN
dtype: float64
A        10.0
B         NaN
C         NaN
D         NaN
GOKU      NaN
KARNA     NaN
LAKSH     NaN
RAM       NaN
dtype: float64
A        0.1
B        NaN
C        NaN
D        NaN
GOKU     NaN
KARNA    NaN
LAKSH    NaN
RAM      NaN
dtype: float64

# DATA FRAME:

### A DATAFRAME is a 2-D data structure arranging data in a tabular form. The index(rows) and column names can be explicitely given.

In [50]:
ind = ['A','B','C','D']
col = ['W','X','Y','Z']
data = np.random.randn(4,4)
DF = pd.DataFrame(data,ind,col)

In [51]:
DF #DATA FRAME

          W         X         Y         Z
A -0.657349 -0.307860  0.407238 -0.980009
B -0.009931 -1.213958  1.448606  0.248766
C  0.281210  0.391645  0.441245 -0.616260
D  0.436261 -0.083053  0.144276  0.704133

### Accessing Columns in DF:

In [52]:
print(DF['W']) #onlu column W
print(DF[['W','X']]) #coluns W and X

A   -0.657349
B   -0.009931
C    0.281210
D    0.436261
Name: W, dtype: float64
          W         X
A -0.657349 -0.307860
B -0.009931 -1.213958
C  0.281210  0.391645
D  0.436261 -0.083053

### Accessing rows in DF:

In [53]:
print(DF.loc['A']) #only row A
print(DF.loc[['A','B']]) #rows A and B
print(DF.iloc[0]) #accesing rows via integer index irrrespective of what the indices(char,string,numbers) are

W   -0.657349
X   -0.307860
Y    0.407238
Z   -0.980009
Name: A, dtype: float64
          W         X         Y         Z
A -0.657349 -0.307860  0.407238 -0.980009
B -0.009931 -1.213958  1.448606  0.248766
W   -0.657349
X   -0.307860
Y    0.407238
Z   -0.980009
Name: A, dtype: float64

### Accessing custom rows and columns:

In [54]:
print(DF.loc[['A'],['W']]) #elemnt in rows A and col W
print(DF.loc[['A','C'],['W','Z']]) #elemnts in row A,C and column W,Z

          W
A -0.657349
          W         Z
A -0.657349 -0.980009
C  0.281210 -0.616260

### Droping Rows or Columns in DF:

In [55]:
print(DF.drop('W',axis=1))
print(DF.drop('A',axis=0))#axis=0 by default
print(DF)

          X         Y         Z
A -0.307860  0.407238 -0.980009
B -1.213958  1.448606  0.248766
C  0.391645  0.441245 -0.616260
D -0.083053  0.144276  0.704133
          W         X         Y         Z
B -0.009931 -1.213958  1.448606  0.248766
C  0.281210  0.391645  0.441245 -0.616260
D  0.436261 -0.083053  0.144276  0.704133
          W         X         Y         Z
A -0.657349 -0.307860  0.407238 -0.980009
B -0.009931 -1.213958  1.448606  0.248766
C  0.281210  0.391645  0.441245 -0.616260
D  0.436261 -0.083053  0.144276  0.704133

#### It can be noted that the Drop dint affect the DF. inorder to change the dataframe directly after drop another paramater 'inplace' has to be mentioned as parameter.

In [56]:
DF1 = DF
print(DF)
DF.drop('W',axis=1,inplace=True)
print(DF)

          W         X         Y         Z
A -0.657349 -0.307860  0.407238 -0.980009
B -0.009931 -1.213958  1.448606  0.248766
C  0.281210  0.391645  0.441245 -0.616260
D  0.436261 -0.083053  0.144276  0.704133
          X         Y         Z
A -0.307860  0.407238 -0.980009
B -1.213958  1.448606  0.248766
C  0.391645  0.441245 -0.616260
D -0.083053  0.144276  0.704133

#### Droping multiple coll and rows

In [57]:
print(DF1.drop(index=['A','B'],columns=['X','Z']))

          Y
C  0.441245
D  0.144276