In [2]:
import pandas as pd
import numpy as np

# Series :

### Series is similar to a list except that here you can specify what the index must be.

In [9]:
# EXAMPLE
data_ = [1,2,3,4]
index_ = ['A','B','C','D']
ser = pd.Series(data=data_,index=index_)
# OR
ser1 = pd.Series(data_,index_)

In [13]:
print(ser)
print(ser1)

A    1
B    2
C    3
D    4
dtype: int64
A    1
B    2
C    3
D    4
dtype: int64

### One can also use dictionary to set the data and index. the keys in dictionary will be used as index and the value will be assigned as data

In [19]:
# EXAMPLE
DICT = {'A':10,'RAM':20,'LAKSH':18,'KARNA':23,'GOKU':40}
ser2 = pd.Series(DICT)
print(ser2)

A        10
RAM      20
LAKSH    18
KARNA    23
GOKU     40
dtype: int64

### When we perform any arithmetic operation over a series object ,the operations is performed on the data present on similar index . if both series doesn't have the same index then a NAN is placed at the data corresponding to that index

In [20]:
# EXAMPLE SIMILAR SERIES
ser_add = ser1 + ser
ser_sub = ser1 - ser
ser_mul = ser1 * ser
ser_div = ser1 / ser
print(ser_add)
print(ser_sub)
print(ser_mul)
print(ser_div)

A    2
B    4
C    6
D    8
dtype: int64
A    0
B    0
C    0
D    0
dtype: int64
A     1
B     4
C     9
D    16
dtype: int64
A    1.0
B    1.0
C    1.0
D    1.0
dtype: float64

In [22]:
# EXAMPLE DIFFERENT SERIES
ser_add_1 = ser1 + ser2
ser_sub_1 = ser1 - ser2
ser_mul_1 = ser1 * ser2
ser_div_1 = ser1 / ser2
print(ser_add_1)
print(ser_sub_1)
print(ser_mul_1)
print(ser_div_1)

#Since both seires 1 and 2 has only index 'A' as common, only those data in that index is performed with the operation

A        11.0
B         NaN
C         NaN
D         NaN
GOKU      NaN
KARNA     NaN
LAKSH     NaN
RAM       NaN
dtype: float64
A       -9.0
B        NaN
C        NaN
D        NaN
GOKU     NaN
KARNA    NaN
LAKSH    NaN
RAM      NaN
dtype: float64
A        10.0
B         NaN
C         NaN
D         NaN
GOKU      NaN
KARNA     NaN
LAKSH     NaN
RAM       NaN
dtype: float64
A        0.1
B        NaN
C        NaN
D        NaN
GOKU     NaN
KARNA    NaN
LAKSH    NaN
RAM      NaN
dtype: float64