In [1]:
import pandas as pd
import numpy as np

# Series :

##### Series is similar to a list except that here you can specify what the index must be.

In [2]:
# EXAMPLE
data_ = [1,2,3,4]
index_ = ['A','B','C','D']
ser = pd.Series(data=data_,index=index_)
# OR
ser1 = pd.Series(data_,index_)

In [3]:
print(ser)
print(ser1)

A    1
B    2
C    3
D    4
dtype: int64
A    1
B    2
C    3
D    4
dtype: int64

##### One can also use dictionary to set the data and index. the keys in dictionary will be used as index and the value will be assigned as data

In [4]:
# EXAMPLE
DICT = {'A':10,'RAM':20,'LAKSH':18,'KARNA':23,'GOKU':40}
ser2 = pd.Series(DICT)
print(ser2)

A        10
RAM      20
LAKSH    18
KARNA    23
GOKU     40
dtype: int64

##### When we perform any arithmetic operation over a series object ,the operations is performed on the data present on similar index . if both series doesn't have the same index then a NAN is placed at the data corresponding to that index

In [5]:
# EXAMPLE SIMILAR SERIES
ser_add = ser1 + ser
ser_sub = ser1 - ser
ser_mul = ser1 * ser
ser_div = ser1 / ser
print(ser_add)
print(ser_sub)
print(ser_mul)
print(ser_div)

A    2
B    4
C    6
D    8
dtype: int64
A    0
B    0
C    0
D    0
dtype: int64
A     1
B     4
C     9
D    16
dtype: int64
A    1.0
B    1.0
C    1.0
D    1.0
dtype: float64

In [6]:
# EXAMPLE DIFFERENT SERIES
ser_add_1 = ser1 + ser2
ser_sub_1 = ser1 - ser2
ser_mul_1 = ser1 * ser2
ser_div_1 = ser1 / ser2
print(ser_add_1)
print(ser_sub_1)
print(ser_mul_1)
print(ser_div_1)

#Since both seires 1 and 2 has only index 'A' as common, only those data in that index is performed with the operation

A        11.0
B         NaN
C         NaN
D         NaN
GOKU      NaN
KARNA     NaN
LAKSH     NaN
RAM       NaN
dtype: float64
A       -9.0
B        NaN
C        NaN
D        NaN
GOKU     NaN
KARNA    NaN
LAKSH    NaN
RAM      NaN
dtype: float64
A        10.0
B         NaN
C         NaN
D         NaN
GOKU      NaN
KARNA     NaN
LAKSH     NaN
RAM       NaN
dtype: float64
A        0.1
B        NaN
C        NaN
D        NaN
GOKU     NaN
KARNA    NaN
LAKSH    NaN
RAM      NaN
dtype: float64

# DATA FRAME:

##### A DATAFRAME is a 2-D data structure arranging data in a tabular form. The index(rows) and column names can be explicitely given.

In [7]:
ind = ['A','B','C','D']
col = ['W','X','Y','Z']
data = np.random.randn(4,4)
DF = pd.DataFrame(data,ind,col)

In [8]:
DF #DATA FRAME

          W         X         Y         Z
A  1.590707  0.399964  1.753469 -1.040200
B  0.095540 -1.739684 -0.247765  0.640036
C -0.715981  0.417207 -0.594740  0.902625
D -0.095705  0.375396 -2.766143 -0.082477

### Accessing Columns in DF:

In [9]:
print(DF['W']) #onlu column W
print(DF[['W','X']]) #coluns W and X

A    1.590707
B    0.095540
C   -0.715981
D   -0.095705
Name: W, dtype: float64
          W         X
A  1.590707  0.399964
B  0.095540 -1.739684
C -0.715981  0.417207
D -0.095705  0.375396

### Accessing rows in DF:

In [10]:
print(DF.loc['A']) #only row A
print(DF.loc[['A','B']]) #rows A and B
print(DF.iloc[0]) #accesing rows via integer index irrrespective of what the indices(char,string,numbers) are

W    1.590707
X    0.399964
Y    1.753469
Z   -1.040200
Name: A, dtype: float64
          W         X         Y         Z
A  1.590707  0.399964  1.753469 -1.040200
B  0.095540 -1.739684 -0.247765  0.640036
W    1.590707
X    0.399964
Y    1.753469
Z   -1.040200
Name: A, dtype: float64

### Accessing custom rows and columns:

In [11]:
print(DF.loc[['A'],['W']]) #elemnt in rows A and col W
print(DF.loc[['A','C'],['W','Z']]) #elemnts in row A,C and column W,Z

          W
A  1.590707
          W         Z
A  1.590707 -1.040200
C -0.715981  0.902625

### Droping Rows or Columns in DF:

In [12]:
print(DF.drop('W',axis=1))
print(DF.drop('A',axis=0))#axis=0 by default
print(DF)

          X         Y         Z
A  0.399964  1.753469 -1.040200
B -1.739684 -0.247765  0.640036
C  0.417207 -0.594740  0.902625
D  0.375396 -2.766143 -0.082477
          W         X         Y         Z
B  0.095540 -1.739684 -0.247765  0.640036
C -0.715981  0.417207 -0.594740  0.902625
D -0.095705  0.375396 -2.766143 -0.082477
          W         X         Y         Z
A  1.590707  0.399964  1.753469 -1.040200
B  0.095540 -1.739684 -0.247765  0.640036
C -0.715981  0.417207 -0.594740  0.902625
D -0.095705  0.375396 -2.766143 -0.082477

##### It can be noted that the Drop dint affect the DF. inorder to change the dataframe directly after drop another paramater 'inplace' has to be mentioned as parameter.

In [13]:
DF1 = DF
print(DF)
DF.drop('W',axis=1,inplace=True)
print(DF)

          W         X         Y         Z
A  1.590707  0.399964  1.753469 -1.040200
B  0.095540 -1.739684 -0.247765  0.640036
C -0.715981  0.417207 -0.594740  0.902625
D -0.095705  0.375396 -2.766143 -0.082477
          X         Y         Z
A  0.399964  1.753469 -1.040200
B -1.739684 -0.247765  0.640036
C  0.417207 -0.594740  0.902625
D  0.375396 -2.766143 -0.082477

#### Droping multiple coll and rows

In [14]:
print(DF1.drop(index=['A','B'],columns=['X','Z']))

          Y
C -0.594740
D -2.766143

### Conditional Selection :

##### ne can use conditional operators for data selection in the DATAFRAME which allows efficient manupulation of data. Using conditional operators with a dataframe returns a series or a dataframe with bool(True or False) values.

In [17]:
#EXAMPLE
print(DF1 > 1)#performing conditional statement on a dataframe which returns a dataframe with bool values 
print(DF1['X'] > 1)#performing conditional statement on a series which returns a series with bool values

       X      Y      Z
A  False   True  False
B  False  False  False
C  False  False  False
D  False  False  False
A    False
B    False
C    False
D    False
Name: X, dtype: bool

##### specifying the conditional statement inside the dataframe returns only the values where there is true and NAN(if u give a data frame as conditional statement else only the true values are shown if a series is given).

In [18]:
print(DF1[DF1<0])#resultant DF will contain both True and False(NAN) values 
print(DF1[DF1['Y']<0]) #contains values where only true is present

          X         Y         Z
A       NaN       NaN -1.040200
B -1.739684 -0.247765       NaN
C       NaN -0.594740       NaN
D       NaN -2.766143 -0.082477
          X         Y         Z
B -1.739684 -0.247765  0.640036
C  0.417207 -0.594740  0.902625
D  0.375396 -2.766143 -0.082477

### Multiple Conditional Statements :

##### We can also combine more than one conditional statements using the logical operators. It is to be noted that pythons 'and' , 'or' expressions will not work as they work on single values (i.e True and True) . not on series of bool values.

In [22]:
print(DF1[(DF1['X']>0) & (DF1['Y']<0)])

          X         Y         Z
C  0.417207 -0.594740  0.902625
D  0.375396 -2.766143 -0.082477

### Index manupulation:

##### we can edit the index even after the creation of the dataframe. We can set or reset the index

In [25]:
new_index = 'ram laks karna goku'.split()
DF1.reset_index()

  index         X         Y         Z
0     A  0.399964  1.753469 -1.040200
1     B -1.739684 -0.247765  0.640036
2     C  0.417207 -0.594740  0.902625
3     D  0.375396 -2.766143 -0.082477

##### It can be noted that the previous index becomes a column of the the dataframe after reseting the index. It can be noted that the modifications will not afftect the dataframe unless we specify inplace=True

In [30]:
DF1['names'] = new_index
DF1.set_index('names',inplace=True)
print(DF1)

              X         Y         Z
names
ram    0.399964  1.753469 -1.040200
laks  -1.739684 -0.247765  0.640036
karna  0.417207 -0.594740  0.902625
goku   0.375396 -2.766143 -0.082477